@font-face {
  font-family: "Brushtip";
  src: url("assets/fonts/BrushtipTexe.ttf");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSH___.TTF");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSIH__.TTF");
  font-style: italic;
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSSCH_.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerif.otf");
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerifStd-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Semi Serif";
  src: url("assets/fonts/RotisSemiSerifStd.otf");
}
@font-face {
  font-family: "Rotis Semi Sans";
  src: url("assets/fonts/RotisSemiSansStd.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Book.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-BookItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Bold.otf");
}
.l5r4.sheet.item form {
  display: flex;
  flex-direction: column;
}
.l5r4.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.l5r4.sheet.item .sheet-content .editor {
  height: 100%;
}
.l5r4.sheet.item td {
  text-align: center;
}
.l5r4.pc .ranks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1.5em;
}
.l5r4.pc .ranks .rank-name {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 0.8em;
  align-items: center;
  text-align: right;
}
.l5r4.pc .ranks select {
  font-size: 1em;
}
.l5r4.pc .ranks input {
  border: none;
  margin-bottom: 0.25em;
  text-align: center;
}
.l5r4.pc .combat-stats .initiative-table {
  display: flexbox;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.l5r4.pc .combat-stats input {
  border: none;
  margin-bottom: 0.25em;
  flex-shrink: 7;
}
.l5r4.pc textarea {
  resize: none;
}
.l5r4.pc .main-sheet {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 5px;
}
.l5r4.pc .main-sheet .main-stats {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l5r4.pc .main-sheet .sidebar {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l5r4.pc .main-sheet .actor-img {
  width: 256px;
  border: none;
  border-radius: 8px;
  max-width: 256px;
  height: auto;
}
.l5r4.pc .main-sheet input {
  flex: 1;
}
.l5r4.pc .main-sheet select {
  border: none;
  text-align: center;
}
.l5r4.pc {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .misc {
  height: 100%;
}
.l5r4.pc .editor .editor-content {
  min-height: 400px;
}
.l5r4.pc .pc-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}
.l5r4.pc .traits-rings {
  display: grid;
  grid-template-columns: 1fr 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr min-content min-content;
  align-items: center;
  justify-items: center;
}
.l5r4.pc .traits-rings .ring-name {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  align-self: start;
}
.l5r4.pc .traits-rings .ring-rank {
  z-index: 10;
  background-color: #FFFFFF;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: #000000 solid 3px;
  align-content: center;
  display: grid;
  justify-content: center;
  font-size: 2em;
}
.l5r4.pc .traits-rings .trait,
.l5r4.pc .traits-rings .void-points {
  height: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-areas: "roll rank";
  column-gap: 0.5em;
  align-self: end;
  justify-items: right;
  margin: 4px 0;
}
.l5r4.pc .traits-rings .trait .trait-roll,
.l5r4.pc .traits-rings .void-points .trait-roll,
.l5r4.pc .traits-rings .trait .void-points-name,
.l5r4.pc .traits-rings .void-points .void-points-name {
  grid-area: roll;
}
.l5r4.pc .traits-rings .trait .trait-rank,
.l5r4.pc .traits-rings .void-points .trait-rank,
.l5r4.pc .traits-rings .trait .void-points-amount,
.l5r4.pc .traits-rings .void-points .void-points-amount {
  grid-area: rank;
  z-index: 10;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #000000 solid 3px;
  text-align: center;
  font-size: 1.5em;
}
.l5r4.pc .traits-rings .trait-reflexe,
.l5r4.pc .traits-rings .trait-awarness,
.l5r4.pc .traits-rings .trait-agility,
.l5r4.pc .traits-rings .trait-intelligence {
  grid-template-columns: 32px 1fr;
  grid-template-areas: "rank roll";
  justify-items: left;
}
.l5r4.pc .traits-rings .trait-willpower,
.l5r4.pc .traits-rings .trait-perception,
.l5r4.pc .traits-rings .trait-awarness,
.l5r4.pc .traits-rings .trait-intelligence {
  align-self: start;
}
.l5r4.pc .traits-rings .ring-name-earth {
  grid-column: 5/9;
  grid-row: 1/2;
}
.l5r4.pc .traits-rings .ring-rank-earth {
  grid-column: 7/9;
  grid-row: 3/4;
  border-color: #3b1b00;
}
.l5r4.pc .traits-rings .earth-ring {
  grid-column: 5/9;
  grid-row: 2/4;
}
.l5r4.pc .traits-rings .earth-ring .earth-ring-img {
  border: none;
  content: url("assets/icons/earth.png");
}
.l5r4.pc .traits-rings .trait-stamina {
  grid-column: 1/5;
  grid-row: 2/3;
}
.l5r4.pc .traits-rings .trait-stamina .trait-rank {
  border-color: #3b1b00;
}
.l5r4.pc .traits-rings .trait-willpower {
  grid-column: 1/5;
  grid-row: 3/4;
}
.l5r4.pc .traits-rings .trait-willpower .trait-rank {
  border-color: #3b1b00;
}
.l5r4.pc .traits-rings .ring-name-air {
  grid-column: 9/13;
  grid-row: 1/2;
}
.l5r4.pc .traits-rings .ring-rank-air {
  grid-column: 9/11;
  grid-row: 3/4;
  border-color: #002f3b;
}
.l5r4.pc .traits-rings .air-ring {
  grid-column: 9/13;
  grid-row: 2/4;
}
.l5r4.pc .traits-rings .air-ring .air-ring-img {
  border: none;
  content: url("assets/icons/air.png");
}
.l5r4.pc .traits-rings .trait-reflexe {
  grid-column: 13/18;
  grid-row: 2/3;
}
.l5r4.pc .traits-rings .trait-reflexe .trait-rank {
  border-color: #002f3b;
}
.l5r4.pc .traits-rings .trait-awarness {
  grid-column: 13/18;
  grid-row: 3/4;
}
.l5r4.pc .traits-rings .trait-awarness .trait-rank {
  border-color: #002f3b;
}
.l5r4.pc .traits-rings .ring-name-water {
  grid-column: 3/6;
  grid-row: 6/7;
}
.l5r4.pc .traits-rings .ring-rank-water {
  grid-column: 6/8;
  grid-row: 4/5;
  border-color: #00183b;
}
.l5r4.pc .traits-rings .water-ring {
  grid-column: 3/7;
  grid-row: 4/6;
}
.l5r4.pc .traits-rings .water-ring .water-ring-img {
  border: none;
  content: url("assets/icons/water.png");
}
.l5r4.pc .traits-rings .trait-strength {
  grid-column: 1/3;
  grid-row: 4/5;
}
.l5r4.pc .traits-rings .trait-strength .trait-rank {
  border-color: #00183b;
}
.l5r4.pc .traits-rings .trait-perception {
  grid-column: 1/3;
  grid-row: 5/6;
}
.l5r4.pc .traits-rings .trait-perception .trait-rank {
  border-color: #00183b;
}
.l5r4.pc .traits-rings .ring-name-fire {
  grid-column: 12/15;
  grid-row: 6/7;
}
.l5r4.pc .traits-rings .ring-rank-fire {
  grid-column: 10/12;
  grid-row: 4/5;
  border-color: #502000;
}
.l5r4.pc .traits-rings .fire-ring {
  grid-column: 11/15;
  grid-row: 4/6;
}
.l5r4.pc .traits-rings .fire-ring .fire-ring-img {
  border: none;
  content: url("assets/icons/fire.png");
}
.l5r4.pc .traits-rings .trait-agility {
  grid-column: 15/18;
  grid-row: 4/5;
}
.l5r4.pc .traits-rings .trait-agility .trait-rank {
  border-color: #502000;
}
.l5r4.pc .traits-rings .trait-intelligence {
  grid-column: 15/18;
  grid-row: 5/6;
}
.l5r4.pc .traits-rings .trait-intelligence .trait-rank {
  border-color: #502000;
}
.l5r4.pc .traits-rings .ring-name-void {
  grid-column: 7/11;
  grid-row: 7/8;
}
.l5r4.pc .traits-rings .ring-rank-void {
  grid-column: 8/10;
  grid-row: 5/6;
  text-align: center;
  border-color: #1b1b1b;
}
.l5r4.pc .traits-rings .void-ring {
  grid-column: 7/11;
  grid-row: 5/7;
}
.l5r4.pc .traits-rings .void-ring .void-ring-img {
  border: none;
  content: url("assets/icons/void.png");
}
.l5r4.pc .traits-rings .void-points {
  grid-column: 1/18;
  grid-row: 8/9;
  width: max-content;
}
.l5r4.pc .traits-rings .void-points .trait-rank {
  border-color: #1b1b1b;
}
.l5r4.pc h2 {
  display: flex;
  flex-direction: row;
}
.l5r4.pc h2 .item-create {
  margin-left: auto;
}
.l5r4.pc .wounds {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .wounds-grid {
  display: grid;
  flex: 1;
  max-height: 100%;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "wn wn wv wv" "wm wm wmv wmv" "wl wp wt wc" "lvl0 lvl0p lvl0t lvl0c" "lvl1 lvl1p lvl1t lvl1c" "lvl2 lvl2p lvl2t lvl2c" "lvl3 lvl3p lvl3t lvl3c" "lvl4 lvl4p lvl4t lvl4c" "lvl5 lvl5p lvl5t lvl5c" "lvl6 lvl6p lvl6t lvl6c" "lvl7 lvl7p lvl7t lvl7c";
}
.l5r4.pc .wounds-name {
  grid-area: wn;
  font-weight: bold;
}
.l5r4.pc .wounds-value {
  grid-area: wv;
  font-weight: bold;
}
.l5r4.pc .wounds-mod {
  grid-area: wm;
  font-weight: bold;
}
.l5r4.pc .wounds-name-value {
  grid-area: wmv;
  font-weight: bold;
}
.l5r4.pc .wounds-level {
  grid-area: wl;
  font-weight: bold;
}
.l5r4.pc .wounds-penalty {
  grid-area: wp;
  font-weight: bold;
}
.l5r4.pc .wounds-total {
  grid-area: wt;
  font-weight: bold;
}
.l5r4.pc .wounds-current {
  grid-area: wc;
  font-weight: bold;
}
.l5r4.pc .wounds-lvl-name-0 {
  grid-area: lvl0;
}
.l5r4.pc .wounds-lvl-penalty-0 {
  grid-area: lvl0p;
}
.l5r4.pc .wounds-lvl-value-0 {
  grid-area: lvl0t;
}
.l5r4.pc .wounds-lvl-current-0 {
  grid-area: lvl0c;
}
.l5r4.pc .wounds-lvl-name-1 {
  grid-area: lvl1;
}
.l5r4.pc .wounds-lvl-penalty-1 {
  grid-area: lvl1p;
}
.l5r4.pc .wounds-lvl-value-1 {
  grid-area: lvl1t;
}
.l5r4.pc .wounds-lvl-current-1 {
  grid-area: lvl1c;
}
.l5r4.pc .wounds-lvl-name-2 {
  grid-area: lvl2;
}
.l5r4.pc .wounds-lvl-penalty-2 {
  grid-area: lvl2p;
}
.l5r4.pc .wounds-lvl-value-2 {
  grid-area: lvl2t;
}
.l5r4.pc .wounds-lvl-current-2 {
  grid-area: lvl2c;
}
.l5r4.pc .wounds-lvl-name-3 {
  grid-area: lvl3;
}
.l5r4.pc .wounds-lvl-penalty-3 {
  grid-area: lvl3p;
}
.l5r4.pc .wounds-lvl-value-3 {
  grid-area: lvl3t;
}
.l5r4.pc .wounds-lvl-current-3 {
  grid-area: lvl3c;
}
.l5r4.pc .wounds-lvl-name-4 {
  grid-area: lvl4;
}
.l5r4.pc .wounds-lvl-penalty-4 {
  grid-area: lvl4p;
}
.l5r4.pc .wounds-lvl-value-4 {
  grid-area: lvl4t;
}
.l5r4.pc .wounds-lvl-current-4 {
  grid-area: lvl4c;
}
.l5r4.pc .wounds-lvl-name-5 {
  grid-area: lvl5;
}
.l5r4.pc .wounds-lvl-penalty-5 {
  grid-area: lvl5p;
}
.l5r4.pc .wounds-lvl-value-5 {
  grid-area: lvl5t;
}
.l5r4.pc .wounds-lvl-current-5 {
  grid-area: lvl5c;
}
.l5r4.pc .wounds-lvl-name-6 {
  grid-area: lvl6;
}
.l5r4.pc .wounds-lvl-penalty-6 {
  grid-area: lvl6p;
}
.l5r4.pc .wounds-lvl-value-6 {
  grid-area: lvl6t;
}
.l5r4.pc .wounds-lvl-current-6 {
  grid-area: lvl6c;
}
.l5r4.pc .wounds-lvl-name-7 {
  grid-area: lvl7;
}
.l5r4.pc .wounds-lvl-penalty-7 {
  grid-area: lvl7p;
}
.l5r4.pc .wounds-lvl-value-7 {
  grid-area: lvl7t;
}
.l5r4.pc .wounds-lvl-current-7 {
  grid-area: lvl7c;
}
.l5r4.pc .rate-heal {
  display: flexbox;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.l5r4.pc .rate-heal input {
  border: none;
  margin-bottom: 0.25em;
  flex-shrink: 7;
}
.l5r4.pc .equipement-title {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content min-content;
}
.l5r4.pc .equipement-title .wealth {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  column-gap: 0.5em;
  font-size: 0.7em;
  font-weight: normal;
}
.l5r4.pc .equipement-title .wealth input {
  width: 3em;
}
.l5r4.pc .equipment-list {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .equipment-list .item {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.26);
}
.l5r4.pc .equipment-list .item h3 {
  margin: 0.25rem 0;
}
.l5r4.pc .commonItems-list {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .commonItems-list .item .commonItem-name {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.2em;
  align-items: center;
  margin-left: 20px;
}
.l5r4.pc .weapons-list {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .weapons-list img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .weapons-list .item {
  grid-template-columns: 1fr 2fr max-content;
}
.l5r4.pc .weapons-list .item .weapon-name {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .weapons-list .item .weapon-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .armors-list {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .armors-list .item {
  grid-template-columns: 1fr 2fr max-content;
}
.l5r4.pc .armors-list .item .armor-name {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.2em;
  align-items: center;
  margin-left: 20px;
}
.l5r4.pc .armors-list .item .armor-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .armors-list .item .armor-stats input {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .skills {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .skills h3 {
  display: grid;
  grid-template-columns: 20px 4fr 1fr 2fr 2fr 1fr 2fr 20px;
  justify-items: left;
}
.l5r4.pc .skills .skill-item {
  display: grid;
  grid-template-columns: 20px 4fr 1fr 2fr 2fr 1fr 2fr 20px;
  justify-items: center;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.26);
}
.l5r4.pc .skills .skill-item img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .skills .skill-item .skill-value {
  width: 3ch;
  text-align: center;
}
.l5r4.pc .skills .skill-item .skill-emphasis {
  margin-top: auto;
}
.l5r4.pc .special-list {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .special-list .item {
  display: grid;
  grid-template-columns: 1fr 2fr max-content;
  column-gap: 1em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.26);
}
.l5r4.pc .special-list h3 {
  display: flex;
  margin: 0.25rem 0;
}
.l5r4.pc .special-list h3 img {
  align-self: baseline;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.l5r4.pc .advantage-list .advantage-stats {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .disadvantage-list .disadvantage-stats {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .techniques-list .technique-stats {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .masteries-list .mastery-stats {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .spells-list .spell-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "ring mastery duration" "range aoe aoe" "raises raises raises";
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .spells-list .spell-stats .spell-ring {
  grid-area: ring;
}
.l5r4.pc .spells-list .spell-stats .spell-mastery {
  grid-area: mastery;
}
.l5r4.pc .spells-list .spell-stats .spell-range {
  grid-area: range;
}
.l5r4.pc .spells-list .spell-stats .spell-aoe {
  grid-area: aoe;
}
.l5r4.pc .spells-list .spell-stats .spell-duration {
  grid-area: duration;
}
.l5r4.pc .spells-list .spell-stats .spell-raises {
  grid-area: raises;
}
.l5r4.pc .kata-list .kata-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .kiho-list .kiho-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.2em;
  align-items: center;
}
.l5r4.pc .pc-armor-grid {
  display: grid;
  flex: 1;
  max-height: 100%;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "armorbase basevalue" "armorbonus bonusvalue" "armormod modvalue" "totalarmor armorvalue" "reduction reductionvalue";
}
.l5r4.pc .armor-tn-base {
  grid-area: armorbase;
  font-weight: bold;
}
.l5r4.pc .armor-tn-value {
  grid-area: basevalue;
}
.l5r4.pc .armor-tn-armor-bonus {
  grid-area: armorbonus;
  font-weight: bold;
}
.l5r4.pc .armor-tn-armor-bonus-value {
  grid-area: bonusvalue;
}
.l5r4.pc .armor-tn-mod {
  grid-area: armormod;
  font-weight: bold;
}
.l5r4.pc .armor-tn-mod-value {
  grid-area: modvalue;
}
.l5r4.pc .armor-tn-current {
  grid-area: totalarmor;
  font-weight: bold;
}
.l5r4.pc .armor-tn-current-value {
  grid-area: armorvalue;
}
.l5r4.pc .armor-tn-reduction {
  grid-area: reduction;
  font-weight: bold;
}
.l5r4.pc .armor-tn-reduction-value {
  grid-area: reductionvalue;
}
.l5r4.npc .editor .editor-content {
  min-height: 400px;
}
.l5r4.npc .top {
  display: flex;
  flex-flow: row;
  width: fit-content;
}
.l5r4.npc .bottom {
  display: flex;
  flex-flow: row;
  width: fit-content;
}
.l5r4.npc .actor-img {
  width: 256px;
  max-height: 256px;
  border: none;
  border-radius: 8px;
}
.l5r4.npc input {
  width: 2rem;
}
.l5r4.npc .damage-type {
  width: fit-content;
}
.l5r4.npc .npc-name {
  display: flex;
}
.l5r4.npc .npc-name-in {
  width: fit-content;
}
.l5r4.npc .npc-damage1 {
  display: flex;
}
.l5r4.npc .npc-damage2 {
  display: flex;
}
.l5r4.npc .npc-wounds {
  display: flex;
  flex-flow: column;
}
.l5r4.npc .npc-wounds .npc-wounds-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.l5r4.npc .npc-wounds .npc-wound-lvls {
  display: flex;
  flex-flow: column;
  text-align-last: justify;
}
.l5r4.npc .npc-skills {
  display: flex;
  flex-direction: column;
}
.l5r4.npc .npc-skills h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.l5r4.npc .npc-skills h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.l5r4.npc .npc-skills .skill-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.l5r4.npc .npc-skills .skill-item img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.npc .npc-skills .skill-item input {
  width: fit-content;
  min-width: 0;
}
.l5r4.npc .npc-skills .skill-item .skill-value {
  width: 3ch;
  text-align: center;
}
.l5r4.npc .npc-stats {
  display: flex;
  flex-flow: column;
}
.l5r4.npc .npc-stats img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .limited-sheet {
  flex-flow: column;
}
.l5r4.pc .limited-sheet .actor-img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
}
.l5r4.pc .limited {
  display: flex;
  flex-flow: column;
}
.l5r4.pc .limited .limited-info {
  display: flex;
  flex-flow: column;
}
body {
  /*  background: url("assets/textures/background.webp") no-repeat center;
  background-size: cover;*/
}
body > * {
  scrollbar-width: thin;
}
.l5r4.pc {
  font-family: "Rotis Serif";
}
.l5r4.pc .window-content {
  background: #fffae6 url("assets/textures/scroll2.webp") no-repeat;
  background-size: cover;
}
.l5r4.pc input,
.l5r4.pc select,
.l5r4.pc textarea {
  background: none;
  border: none;
  background-color: #d6cd9fa3;
}
.l5r4.pc .title {
  font-family: "Rotis Serif";
  text-transform: none;
  font-weight: bold;
}
.l5r4.pc .pc-info {
  font-family: "Rotis Serif";
  text-transform: none;
  background: url("assets/textures/brush.webp") no-repeat 0 0;
  background-size: 100% 100%;
}
.l5r4.pc .pc-info input {
  background-color: transparent;
}
.l5r4.npc {
  font-family: "Rotis Serif";
}
.l5r4.npc .window-content {
  background: #fffae6 url("assets/textures/scroll2.webp") no-repeat;
  background-size: cover;
}
.l5r4.npc input,
.l5r4.npc select,
.l5r4.npc textarea {
  background: none;
  border: none;
  background-color: #d6cd9fa3;
}
.l5r4.npc .title {
  font-family: "Rotis Serif";
  text-transform: none;
  font-weight: bold;
}
.l5r4.npc .top {
  font-family: "Rotis Serif";
  text-transform: none;
  background: url("assets/textures/brush.webp") no-repeat 0 0;
  background-size: 75% 100%;
  background-position-x: 117%;
}
