<section class="pc-armor-tn">
  <h2>{{localize "l5r4.traits.armorTn"}}</h2>
  <div class="pc-armor-grid">
    <div class="armor-tn-base">
      {{localize "l5r4.traits.armorTnBase"}}
    </div>
    <div class="armor-tn-value">
      {{data.armor_tn.base}}
    </div>
    <div class="armor-tn-armor-bonus">
      {{localize "l5r4.armor.name"}} {{localize "l5r4.armor.bonus"}}
    </div>
    <div class="armor-tn-armor-bonus-value">
      {{data.armor_tn.bonus}}
    </div>
    <div class="armor-tn-mod">
      {{localize "l5r4.mech.mod"}}
    </div>
    <div class="armor-tn-mod-value">
      <input type="number" name="data.armor_tn.mod" value="{{data.armor_tn.mod}}" data-type="Number" />
    </div>
    <div class="armor-tn-current">
      {{localize "l5r4.traits.armorTn"}}
    </div>
    <div class="armor-tn-current-value">
      {{data.armor_tn.current}}
    </div>
    <div class="armor-tn-reduction">
      {{localize "l5r4.traits.armorReduction"}}
    </div>
    <div class="armor-tn-reduction-value">
      {{data.armor_tn.reduction}}
    </div>
  </div>
</section>