<section class="ranks">
  <div class="rank-name">
    {{localize "l5r4.ranks.honorRank"}}
    <input name="data.honor.rank" type="number" value="{{data.honor.rank}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.honorPoints"}}
    <input name="data.honor.points" type="number" value="{{data.honor.points}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.gloryRank"}}
    <input name="data.glory.rank" type="number" value="{{data.glory.rank}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.gloryPoints"}}
    <input name="data.glory.points" type="number" value="{{data.glory.points}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.statusRank"}}
    <input name="data.status.rank" type="number" value="{{data.status.rank}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.statusPoints"}}
    <input name="data.status.points" type="number" value="{{data.status.points}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.shadowRank"}}
    <input name="data.shadow_taint.rank" type="number" value="{{data.shadow_taint.rank}}" data-type="Number" />
  </div>
  <div class="rank-name">
    {{localize "l5r4.ranks.shadowPoints"}}
    <input name="data.shadow_taint.points" type="number" value="{{data.shadow_taint.points}}" data-type="Number" />
  </div>
</section>
<section class="combat-stats">
  <label>
    <div>
      <table class="initiative-table" align="center">
        <tr>
          <th colspan="3"> {{localize "l5r4.mech.init"}} </th>
        </tr>
        <tr>
          <td>{{localize "l5r4.ranks.insightRank"}}+{{localize "l5r4.traits.ref"}}</td>
          <td colspan="2"><input type="text" disabled="true" name="data.initiative.roll"
              value="{{data.insight.rank}}+{{data.traits.ref}}" data-type="String" />
            <br />
          </td>
        <tr>
        <tr>
          <td>{{localize "l5r4.mech.roll"}}/{{localize "l5r4.mech.keep"}} {{localize "l5r4.mech.bonus"}}</td>
          <td><input type="number" name="data.initiative.roll_mod" value="{{data.initiative.roll_mod}}"
              data-type="Number" /></td>
          <td><input type="number" name="data.initiative.keep_mod" value="{{data.initiative.keep_mod}}"
              data-type="Number" /></td>
        </tr>
        <tr>
          <td>{{localize "l5r4.mech.mod"}}</td>
          <td colspan="2"><input type="number" name="data.initiative.total_mod" value="{{data.initiative.total_mod}}"
              data-type="Number" /></td>
        </tr>
        <tr>
          <td colspan="3">{{data.initiative.roll}}k{{data.initiative.keep}}+{{data.initiative.total_mod}}</td>
          </td>
        </tr>
      </table>
      {{> "systems/l5r4/templates/partials/pc-armor-tn.hbs"}}
    </div>
  </label>
</section>