<div class="item-border {{data.type}}">
  <div class="skill-card skill" data-item-id="{{_id}}">
    <div class="skill-name"><h3>
        {{#if inSheet}}
          <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
          {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="skill-info skill-stats">
      <div class="skill-type">
          {{localize "l5r4.skill.type"}}: {{localize (concat "l5r4.skillTypes." data.type)}}
      </div>
      <div class="skill-rank">
        {{localize "l5r4.skill.rank"}}: {{data.rank}} {{#if data.school}}{{localize "l5r4.skill.school"}}{{/if}}
      </div>
      {{#if data.emphasis}}
        <div class="skill-emphasis">
          {{localize "l5r4.skill.emphasis"}}: {{data.emphasis}}
        </div>
      {{/if}}
      {{#unless inSheet}}
      <div class="spell-effects">
        {{{data.specialRules}}}
      </div>
      {{/unless}}
      {{#if (gte data.rank 3) }}
        {{#if data.mastery_3}}
          <div>
            <p>{{localize "l5r4.skill.mastery3"}}: {{data.mastery_3}}</p>
          </div>
        {{/if}}
      {{/if}}
      {{#if (gte data.rank 5) }}
        {{#if data.mastery_5}}
          <div>
            <p>{{localize "l5r4.skill.mastery5"}}: {{data.mastery_5}}</p>
          </div>
        {{/if}}
      {{/if}}
      {{#if (gte data.rank 7) }}
        {{#if data.mastery_7}}
          <div>
            <p>{{localize "l5r4.skill.mastery7"}}: {{data.mastery_7}}</p>
          </div>
        {{/if}}
      {{/if}}
    </div>
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>