<div class="item-border {{data.type}}">
  <div class="technique-card item" data-item-id="{{_id}}">
    <div class="technique-info technique-name">
      <h3>
        {{#if inSheet}}
        <img width="15px" height="15px" src="icons/magic/light/swords-light-glowing-white.webp" />
        <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
        {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="technique-info technique-stats">
      {{#unless data.shugenja}}
      <div class="technique-rank">
        {{localize "l5r4.skill.rank"}}: {{data.rank}}
      </div>
      {{/unless}}
      {{#if data.shugenja}}
      <div class="technique-affiniy">
        {{localize "l5r4.spell.affinity"}}: {{localize (concat "l5r4.rings." data.affinity)}}
      </div>
      <div class="technique-deficiency">
        {{localize "l5r4.spell.deficiency"}}: {{localize (concat "l5r4.rings." data.deficiency)}}
      </div>
      {{/if}}
      {{#unless inSheet}}
      <div class="technique-effects">
        {{{data.specialRules}}}
      </div>
      {{/unless}}
    </div>
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>